body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  max-width: 200px;
  height: auto;
  background: rgb(255, 255, 255);
  z-index: 10;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  display: block;
  border-radius: 2px;
  pointer-events: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.axis line, .axis path {
  shape-rendering: crispEdges;
}


/* remove ticks from yAxis */

.yAxis .tick line {
  display: none;
}

.yAxis .domain {
  display: none;
}
